@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: beige;
}
h1{
    font-family: 'Abyssinica SIL', serif;
}

.derechos{
    padding-top: 20px;
    width: 100%;
    background-color: black;
    color: rgb(219, 233, 233);
    position: absolute;
    bottom: 0%;
}
.derechos p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
